
.corrusel{
    margin: 1% 0;
}

.corrusel img{
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.informacion{
    height: 50%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5% 0;
}

    .informacion article{
        width: 33%;
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
    }

    .informacion div{
        margin: 0 auto;
        height:50%;
        width: 90%;
        padding: 5%;
        background-color: #2a97ad;
        box-sizing: border-box;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
    }

    .informacion img{
        width: 50%;
        border-radius: 50%;
    }

    .informacion p{
        margin: auto;
        padding: 10px;
        color: white;
        text-align: left;
    }

    .informacion h4{
        text-align: center;
        color: white;
        padding: 10px;
        background-color: #1c6674;
    }


.informacion2{
    margin: 5% auto;
    width: 100%;
    display: flex;
    align-items: center;
} 

    .informacion2 article{
        display: flex;
    }

    .informacion2 article ul{
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: #2a97ad;
    }

    .informacion2 article ul li{
        width: 25%;
        text-align: center;
    }

    .informacion2 article img{
        width: 80%;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
    }

    aside{
        width: 30%;
        border-left: 2px solid white;
    }

        aside div{
            width:100%;
            padding: 10px;
            background-color: #2a97ad;
            box-sizing: border-box;
            align-items: center;
        }

        aside div ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        } 

        aside div ul li{
            width: 100%;
            text-align: center;
            }

        aside div img{
            margin: 0 auto;
            width: 90%;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
        }

        aside div h5{
            color: white;
            background-color: #1c6674;
            padding: 50px;
        }

        aside div ul li h6{
            margin-top: 5%;
            margin-bottom: 5%;
            padding: 10px;
            font-size: 100%;
            color: white;
            font-weight: lighter;
            text-align: center;
            border-bottom: 2px solid white;
        }  

