
.corrusel{
    margin: 1% 0;
    height: 20%;
}

.corrusel img{
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.informacion{
    height: 50%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5% 0;
}

    .informacion article{
        width: 33%;
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
    }

    .informacion div{
        margin: 0 auto;
        height:50%;
        width: 90%;
        padding: 5%;
        background-color: #2a97ad;
        box-sizing: border-box;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
    }

    .informacion img{
        width: 50%;
        border-radius: 50%;
    }

    .informacion p{
        margin: auto;
        padding: 10px;
        color: white;
        text-align: left;
    }

    .informacion h4{
        text-align: center;
        color: white;
        padding: 10px;
        background-color: #1c6674;
    }
        
.arriba{
    display: block;
    width: 60px;
    height: 60px;
    background-color: #2a97ad;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background-image: url(../img/arriba.png);
    background-size: cover;
    z-index: 1000;
    border: 2px solid #1c6674;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.44);
}
.arriba:hover{
    opacity: 0.8; 
}

.llama-al-148{
    height: auto;
    width: 100%;
    background-color: #2a97ad;
    padding: 50px;
    margin-bottom: 5%;
}

    .llama-al-148 article{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }

    .llama-al-148 div{
        margin: auto;
    }

        .llama-al-148 p{
            font-size: 30px;
        }

        .llama-al-148 .llama{
            font-size: 100px;
        }

        .numero{
            display: flex;
        }

        .fas{
            font-size: 200px;
        }

        .numero p strong{
            font-size: 200px;
        }

